$tr-line-height-heading: 1.4;
$tr-line-height: 1.5;
$tr-line-height-list: 1.6;

$tr-leading: $tr-line-height + 0rem;

$tr-vertical-rhythm: ($tr-line-height / $tr-line-height-heading) * $tr-font-size;

$tr-scale-margin-base: 2.0;
$tr-scale-margin-ratio: 1.5;
