@function scale-font($exponent) {
    $value: $font-size * $scale-font-base
                       * exponentiate($scale-font-ratio, $exponent);

    @return $value;
}

@function scale-margin($exponent) {
    $value: $whitespace * $scale-margin-base
                        * exponentiate($scale-margin-ratio, $exponent);

    @return $value;
}

@function exponentiate($base, $exponent) {
    $power: 1;

    @if $exponent > 0 {
        @for $i from 1 through $exponent {
            $power: $power * $base;
        }
    }

    @return $power;
}
