/*
 *  Params
 */
$type-reset-font-family-serif:   Georgia, serif;
$type-reset-font-family-sans:    Tahoma, sans-serif;
$type-reset-font-family-mono:    "Droid Sans Mono", monospace;

$type-reset-font-size:           17px;
$type-reset-max-content-width:   $type-reset-font-size * 32;

$type-reset-font-scale-h1:       2.0;
$type-reset-font-scale-h2:       1.5;
$type-reset-font-scale-h3:       1.1;
$type-reset-font-scale-h4:       1.0;
$type-reset-font-scale-mono:     0.9;

$type-reset-margin-scale-h1:     2.0;
$type-reset-margin-scale-h2:     3.5;
$type-reset-margin-scale-h3:     1.5;
$type-reset-margin-scale-h4:     1.0;

$type-reset-line-height:         1.5;
$type-reset-line-height-heading: 1.4;
$type-reset-line-height-list:    1.6;

$type-reset-leading:             $type-reset-line-height + 0rem;
$type-reset-vertical-rhythm:     $type-reset-line-height * $type-reset-font-size / $type-reset-line-height-heading;

$type-reset-color:            #212121;
$type-reset-color-lighter:    #424242;
$type-reset-color-lightest:   #9E9E9E;
$type-reset-color-background: #FFFEFC;
$type-reset-color-actionable: #FF3D00;


/*
 *  Imports
 */
@import "type-reset/reset",
        "type-reset/type";


/*
 *  Import mono font in html <head> for speed:
 *  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Sans+Mono">
 */


/*
 *  Example style
 */
article {
    box-sizing: content-box;
    max-width:  $type-reset-max-content-width;
    margin:     ($type-reset-leading * 3) auto ($type-reset-leading * 6) auto;
    padding:    0 $type-reset-leading;
}
