hr {
    width: 100%;
    height: 1px;
    margin-top: scale-margin(2);
    margin-bottom: scale-margin(2);
    border: none;
    background: $color-line;
}

img,
figure,
blockquote,
pre,
table,
iframe {
    margin-top: $leading * 1.5;
    margin-bottom: $leading * 1.5;
}

img {
    display: block;
    max-width: 100%;
}

img + figcaption {
    margin-top: $leading / -2;
}

figcaption,
pre,
table {
    font-size: $font-size-small;
}

figcaption,
blockquote,
caption {
    font-style: italic;
    color: $color-text-light;
}

blockquote {
    margin-left: $leading;
}

pre {
    overflow-x: auto;
    padding: ($leading * 0.66) $leading ($leading * 0.75) $leading;
    border: 1px solid $color-line;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    text-align: left;
}

caption {
    margin-top: $leading;
    caption-side: bottom;
    text-align: left;
}

thead,
tfoot,
th {
    font-weight: bold;
}

tr {
    border: 1px solid $color-line;
}

th,
td {
    padding: ($leading * 0.66) ($leading / 2) ($leading * 0.75) ($leading / 2);
    vertical-align: top;

    &:first-child {
        padding-left: $leading;
    }

    &:last-child {
        padding-right: $leading;
    }
}
