& {
    box-sizing: content-box;
    max-width: $max-width;
    background: $color-background;
    font-family: $font-stack-serif;
    font-size: $font-size;
    line-height: $line-height;
    color: $color-text;
}

* {
    box-sizing: border-box;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
}
