img,
figure,
blockquote,
pre,
table,
iframe {
    margin-top: $whitespace * 1.5;
    margin-bottom: $whitespace * 1.5;
}

img {
    display: block;
    max-width: 100%;
}

img + figcaption {
    margin-top: $whitespace / -2;
}

figcaption,
pre,
table {
    font-size: $font-size-small;
}

figcaption,
blockquote,
caption {
    font-style: italic;
    color: $color-text-light;
}

blockquote {
    margin-left: $whitespace;
}

pre {
    overflow-x: auto;
    padding: ($whitespace * 0.66) $whitespace ($whitespace * 0.75) $whitespace;
    border: 1px solid $color-line;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    text-align: left;
}

caption {
    margin-top: $whitespace;
    caption-side: bottom;
    text-align: left;
}

thead,
tfoot,
th {
    font-weight: bold;
}

tr {
    border: 1px solid $color-line;
}

th,
td {
    padding: ($whitespace * 0.66) ($whitespace / 2) ($whitespace * 0.75) ($whitespace / 2);
    vertical-align: top;

    &:first-child {
        padding-left: $whitespace;
    }

    &:last-child {
        padding-right: $whitespace;
    }
}

hr {
    width: 100%;
    height: 1px;
    margin-top: scale-margin(2);
    margin-bottom: scale-margin(2);
    border: none;
    background: $color-line;
}
