$line-height: 1.45;
$line-height-small: .9 * $line-height;
$line-height-large: 1.1 * $line-height;

$responsive-breakpoint: 1059px;

$font-size-static: 18px;
$font-size-responsive: 1.7vw;

$font-size-small-static: .9 * $font-size-static;
$font-size-small-responsive: .9 * $font-size-responsive;

$whitespace-static: $font-size-static * $line-height;
$whitespace-responsive: $font-size-responsive * $line-height;

$font-size-scale-start: 1.125;
$font-size-scale-ratio: 1.25;

$whitespace-scale-start: 1.33;
$whitespace-scale-ratio: 1.5;

$font-stack-1: Georgia, serif;
$font-stack-2: 'Trebuchet MS', sans-serif;
$font-stack-3: Andale Mono, "Lucida Console", monospace;

$color-background: #fff8ea;
$color-text: #1f181a;
$color-text-light: #3f383a;
$color-action: #08e;
