.just-type button, .just-type hr, .just-type input {
  overflow: visible; }
.just-type progress, .just-type sub, .just-type sup {
  vertical-align: baseline; }
.just-type [type=checkbox], .just-type [type=radio], .just-type legend {
  box-sizing: border-box;
  padding: 0; }
.just-type html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%; }
.just-type body {
  margin: 0; }
.just-type h1 {
  font-size: 2em;
  margin: 0.67em 0; }
.just-type hr {
  box-sizing: content-box;
  height: 0; }
.just-type code, .just-type kbd, .just-type pre, .just-type samp {
  font-family: monospace, monospace;
  font-size: 1em; }
.just-type a {
  background-color: transparent; }
.just-type abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }
.just-type b, .just-type strong {
  font-weight: bolder; }
.just-type small {
  font-size: 80%; }
.just-type sub, .just-type sup {
  font-size: 75%;
  line-height: 0;
  position: relative; }
.just-type sub {
  bottom: -.25em; }
.just-type sup {
  top: -.5em; }
.just-type img {
  border-style: none; }
.just-type button,
.just-type input, .just-type optgroup, .just-type select, .just-type textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }
.just-type button, .just-type select {
  text-transform: none; }
.just-type [type=button], .just-type [type=reset], .just-type [type=submit], .just-type button {
  -webkit-appearance: button; }
.just-type [type=button]::-moz-focus-inner, .just-type [type=reset]::-moz-focus-inner, .just-type [type=submit]::-moz-focus-inner, .just-type button
::-moz-focus-inner {
  border-style: none;
  padding: 0; }
.just-type [type=button]:-moz-focusring, .just-type [type=reset]:-moz-focusring, .just-type [type=submit]:-moz-focusring, .just-type button:-moz-focusring {
  outline: ButtonText dotted 1px; }
.just-type fieldset {
  padding: .35em .75em .625em; }
.just-type legend {
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal; }
.just-type textarea {
  overflow: auto; }
.just-type [type=number]::-webkit-inner-spin-button, .just-type [type=number]::-webkit-outer-spin-button {
  height: auto; }
.just-type [type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }
.just-type [type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }
.just-type ::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }
.just-type details {
  display: block; }
.just-type summary {
  display: list-item; }
.just-type [hidden], .just-type template {
  display: none; }
@media all and (max-width: 1059px) {
  .just-type {
    background: #fff8ea;
    color: #1f181a;
    font-family: Georgia, serif;
    font-size: 18px;
    line-height: 1.45; }
  .just-type h1,
  .just-type h2,
  .just-type h3,
  .just-type h4,
  .just-type ol,
  .just-type p,
  .just-type ul {
    margin-bottom: 26.1px; }
  .just-type iframe,
  .just-type img,
  .just-type figure,
  .just-type table {
    margin: 43.326px 0; }
  .just-type h1,
  .just-type h2,
  .just-type h3,
  .just-type h4 {
    font-family: "Trebuchet MS", sans-serif;
    font-weight: normal;
    line-height: 1.305; }
  .just-type h1 {
    font-size: 39.55078125px;
    margin-top: 0; }
  .just-type h2 {
    font-size: 31.640625px;
    margin-top: 78.10425px; }
  .just-type h3 {
    font-size: 25.3125px;
    margin-top: 52.0695px; }
  .just-type h4 {
    font-size: 20.25px;
    font-style: italic;
    margin-top: 34.713px; }
  .just-type h1 + *,
  .just-type h2 + h3,
  .just-type h3 + h4 {
    margin-top: 52.2px; }
  .just-type ol,
  .just-type ul {
    line-height: 1.595;
    list-style: outside;
    padding-left: 52.2px; }
    .just-type ol ol,
    .just-type ol ul,
    .just-type ul ol,
    .just-type ul ul {
      margin-bottom: 0;
      padding-left: 39.15px; }
  .just-type ol {
    list-style-type: decimal; }
  .just-type ul {
    list-style-type: disc; }
  .just-type li {
    padding-left: 0; }
  .just-type a {
    color: #08e;
    text-decoration: none; }
    .just-type a:hover, .just-type a:focus, .just-type a:active {
      text-decoration: underline; }
  .just-type blockquote {
    border-left: 1px solid #3f383a;
    color: #3f383a;
    font-style: italic;
    margin: 34.713px 0;
    padding-left: 26.1px; }
  .just-type pre {
    border: 1px solid #3f383a;
    font-size: 16.2px;
    margin: 34.713px 0;
    overflow-x: auto;
    padding: 17.226px 26.1px 19.575px 26.1px; }
  .just-type code {
    font-family: Andale Mono, "Lucida Console", monospace;
    font-size: 16.2px; }
  .just-type img {
    display: block;
    max-width: 100%; }
  .just-type figcaption {
    color: #3f383a;
    font-size: 16.2px;
    font-style: italic; }
  .just-type img + figcaption {
    margin-top: -26.1px; }
  .just-type table {
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 16.2px;
    text-align: left;
    width: 100%; }
  .just-type tfoot,
  .just-type th,
  .just-type thead {
    background: rgba(0, 0, 0, 0.1);
    font-family: "Trebuchet MS", sans-serif;
    font-weight: bold; }
  .just-type td,
  .just-type th {
    padding: 13.05px 17.226px;
    vertical-align: top; }
  .just-type tr {
    border: 1px solid #3f383a; }
  .just-type caption {
    caption-side: bottom;
    color: #3f383a;
    font-style: italic;
    margin-top: 13.05px;
    text-align: left; }
  .just-type hr {
    background: #3f383a;
    border: none;
    height: 1px;
    margin: 78.10425px 0;
    width: 100%; } }
@media all and (min-width: 1059px) {
  .just-type {
    background: #fff8ea;
    color: #1f181a;
    font-family: Georgia, serif;
    font-size: 1.7vw;
    line-height: 1.45; }
  .just-type h1,
  .just-type h2,
  .just-type h3,
  .just-type h4,
  .just-type ol,
  .just-type p,
  .just-type ul {
    margin-bottom: 2.465vw; }
  .just-type iframe,
  .just-type img,
  .just-type figure,
  .just-type table {
    margin: 4.0919vw 0; }
  .just-type h1,
  .just-type h2,
  .just-type h3,
  .just-type h4 {
    font-family: "Trebuchet MS", sans-serif;
    font-weight: normal;
    line-height: 1.305; }
  .just-type h1 {
    font-size: 3.7353515625vw;
    margin-top: 0; }
  .just-type h2 {
    font-size: 2.98828125vw;
    margin-top: 7.3765125vw; }
  .just-type h3 {
    font-size: 2.390625vw;
    margin-top: 4.917675vw; }
  .just-type h4 {
    font-size: 1.9125vw;
    font-style: italic;
    margin-top: 3.27845vw; }
  .just-type h1 + *,
  .just-type h2 + h3,
  .just-type h3 + h4 {
    margin-top: 4.93vw; }
  .just-type ol,
  .just-type ul {
    line-height: 1.595;
    list-style: outside;
    padding-left: 4.93vw; }
    .just-type ol ol,
    .just-type ol ul,
    .just-type ul ol,
    .just-type ul ul {
      margin-bottom: 0;
      padding-left: 3.6975vw; }
  .just-type ol {
    list-style-type: decimal; }
  .just-type ul {
    list-style-type: disc; }
  .just-type li {
    padding-left: 0; }
  .just-type a {
    color: #08e;
    text-decoration: none; }
    .just-type a:hover, .just-type a:focus, .just-type a:active {
      text-decoration: underline; }
  .just-type blockquote {
    border-left: 1px solid #3f383a;
    color: #3f383a;
    font-style: italic;
    margin: 3.27845vw 0;
    padding-left: 2.465vw; }
  .just-type pre {
    border: 1px solid #3f383a;
    font-size: 1.53vw;
    margin: 3.27845vw 0;
    overflow-x: auto;
    padding: 1.6269vw 2.465vw 1.84875vw 2.465vw; }
  .just-type code {
    font-family: Andale Mono, "Lucida Console", monospace;
    font-size: 1.53vw; }
  .just-type img {
    display: block;
    max-width: 100%; }
  .just-type figcaption {
    color: #3f383a;
    font-size: 1.53vw;
    font-style: italic; }
  .just-type img + figcaption {
    margin-top: -2.465vw; }
  .just-type table {
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 1.53vw;
    text-align: left;
    width: 100%; }
  .just-type tfoot,
  .just-type th,
  .just-type thead {
    background: rgba(0, 0, 0, 0.1);
    font-family: "Trebuchet MS", sans-serif;
    font-weight: bold; }
  .just-type td,
  .just-type th {
    padding: 1.2325vw 1.6269vw;
    vertical-align: top; }
  .just-type tr {
    border: 1px solid #3f383a; }
  .just-type caption {
    caption-side: bottom;
    color: #3f383a;
    font-style: italic;
    margin-top: 1.2325vw;
    text-align: left; }
  .just-type hr {
    background: #3f383a;
    border: none;
    height: 1px;
    margin: 7.3765125vw 0;
    width: 100%; } }
