@use 'assets/normalize';
@use '../index' as just-type;

body {
  @include just-type.configure(
    $responsive-breakpoint: 1200px
  );
  @include just-type.typography;

  background: #fff8ea;
}

main {
  max-width: 38rem;
  margin: 0 auto 20vh;
  padding: 0 1.5rem;
}

.sad-boi {
  border: 2px solid just-type.color('light');
}

.github {
  position: fixed;
  top: 1.25rem;
  right: 1.25rem;

  :hover,
  :focus,
  :active {
    transform: scale(1.15);
  }

  img {
    margin: 0;
    padding: 0.5rem;
    height: 2.25rem;
  }
}

footer {
  padding: just-type.whitespace() 1.75rem;
  text-align: right;
  font-size: 0.9rem;
}
