/* Size */

$font-size: 20px;
$font-size-small: $font-size * 0.9;
$max-width: $font-size * 32;

$scale-font-base: 1.00;
$scale-font-ratio: 1.25;


/* Whitespace */

$line-height: 1.4;
$whitespace: $font-size * $line-height;

$scale-margin-base: 1.5;
$scale-margin-ratio: 1.5;


/* Make it pretty */

$font-stack-serif: Georgia, serif;
$font-stack-sans-serif: Tahoma, sans-serif;
$font-stack-monospace: Andale Mono, "Lucida Console", monospace;

$color-background: #FFFEFC;
$color-text: #212121;
$color-text-light: #757575;
$color-actionable: #0091EA;
$color-line: #9E9E9E;
