body {
    background:  $typereset-color-background;
    font-family: $typereset-font-family-serif;
    font-size:   $typereset-font-size;
    line-height: $typereset-line-height;
    color:       $typereset-color;
}

h1, h2, h3, h4 {
    font-family: $typereset-font-family-sans;
    line-height: $typereset-line-height-heading;
}

h2, h3, h4 {
    margin-bottom: $typereset-vertical-rhythm;
}

h1 {
    margin-bottom: $typereset-vertical-rhythm * $typereset-margin-scale-h1;
    font-size:     $typereset-vertical-rhythm * $typereset-font-scale-h1;
}

h2 {
    margin-top: $typereset-vertical-rhythm * $typereset-margin-scale-h2;
    font-size:  $typereset-vertical-rhythm * $typereset-font-scale-h2;
}

h3 {
    margin-top: $typereset-vertical-rhythm * $typereset-margin-scale-h3;
    font-size:  $typereset-vertical-rhythm * $typereset-font-scale-h3;
    font-weight: bold;
}

h4 {
    margin-top: $typereset-vertical-rhythm * $typereset-margin-scale-h4;
    font-size:  $typereset-vertical-rhythm * $typereset-font-scale-h4;
    font-style: italic;
}

p, ol, ul {
    margin-bottom: $typereset-leading;
}

p + ol, p + ul {
    margin-top: $typereset-leading / -2;
}

ol, ul {
    margin-right: $typereset-leading * 1.67;
    margin-left:  $typereset-leading * 1.67;
    list-style:   outside;
    line-height:  $typereset-line-height-list;

    ol, ul {
        margin-right:  $typereset-leading * 1.33;
        margin-bottom: $typereset-leading / 2;
        margin-left:   $typereset-leading * 1.33;
    }
}

li {
    padding-left: 0;
}

a {
    text-decoration: none;
    color:           $typereset-color-actionable;

    &:hover, &:focus {
        text-decoration: underline;
    }
}

code {
    font-family: $typereset-font-family-mono;
    font-size:   $typereset-vertical-rhythm * $typereset-font-scale-mono;
    color:       $typereset-color-lighter;
}

%typereset-block-element {
    display:       block;
    max-width:     100%;
    margin-top:    $typereset-leading;
    margin-bottom: $typereset-leading * 1.1;
}

blockquote, pre,
img, figure {
    @extend %typereset-block-element;
}

blockquote {
    margin-right: $typereset-leading;
    margin-left:  $typereset-leading;
    color:        $typereset-color-lighter;

    p {
        margin-bottom: $typereset-leading / 2;
        font-style:    italic;
    }
}

pre {
    overflow-x:   auto;
    margin-right: $typereset-leading;
    margin-left:  $typereset-leading;
}

hr {
    width:         100%;
    height:        1px;
    margin-top:    $typereset-vertical-rhythm * $typereset-margin-scale-h2;
    margin-bottom: $typereset-vertical-rhythm * $typereset-margin-scale-h2;
    border:        none;
    background:    $typereset-color-lightest;
}
