body {
    background:  $type-reset-color-background;
    font-family: $type-reset-font-family-serif;
    font-size:   $type-reset-font-size;
    line-height: $type-reset-line-height;
    color:       $type-reset-color;
}

h1, h2, h3, h4 {
    margin-bottom: $type-reset-vertical-rhythm;
    line-height: $type-reset-line-height-heading;
}

h1, h2, h4 {
    font-family: $type-reset-font-family-sans;
}

h1 {
    margin-top: $type-reset-vertical-rhythm * $type-reset-margin-scale-h1;
    font-size:  $type-reset-vertical-rhythm * $type-reset-font-scale-h1;
}

h2 {
    margin-top: $type-reset-vertical-rhythm * $type-reset-margin-scale-h2;
    font-size:  $type-reset-vertical-rhythm * $type-reset-font-scale-h2;
}

h3 {
    margin-top: $type-reset-vertical-rhythm * $type-reset-margin-scale-h3;
    font-size:  $type-reset-vertical-rhythm * $type-reset-font-scale-h3;
    font-style: italic;
}

h4 {
    margin-top:  $type-reset-vertical-rhythm * $type-reset-margin-scale-h4;
    font-size:   $type-reset-vertical-rhythm * $type-reset-font-scale-h4;
    font-weight: bold;
    color:       $type-reset-color-lighter;
}

p, ol, ul {
    margin-bottom: $type-reset-leading;
}

p + ol, p + ul {
    margin-top: $type-reset-leading / -2;
}

ol, ul {
    margin-right: $type-reset-leading * 1.67;
    margin-left:  $type-reset-leading * 1.67;
    list-style:   outside;
    line-height:  $type-reset-line-height-list;

    ol, ul {
        margin-right:  $type-reset-leading * 1.33;
        margin-bottom: $type-reset-leading / 2;
        margin-left:   $type-reset-leading * 1.33;
    }
}

li {
    padding-left: 0;
}

a {
    text-decoration: none;
    color:           $type-reset-color-actionable;

    &:hover, &:focus {
        text-decoration: underline;
    }
}

code {
    font-family: $type-reset-font-family-mono;
    font-size:   $type-reset-vertical-rhythm * $type-reset-font-scale-mono;
    color:       $type-reset-color-lighter;
}

%type-reset-block-element {
    display:       block;
    max-width:     100%;
    margin-top:    $type-reset-leading;
    margin-bottom: $type-reset-leading * 1.1;
}

blockquote, pre,
img, figure {
    @extend %type-reset-block-element;
}

blockquote {
    margin-right: $type-reset-leading;
    margin-left:  $type-reset-leading;
    color:        $type-reset-color-lighter;

    p {
        margin-bottom: $type-reset-leading / 2;
        font-style:    italic;
    }
}

pre {
    overflow-x:   auto;
    margin-right: $type-reset-leading;
    margin-left:  $type-reset-leading;
}

hr {
    width:         100%;
    height:        1px;
    margin-top:    $type-reset-vertical-rhythm * $type-reset-margin-scale-h2;
    margin-bottom: $type-reset-vertical-rhythm * $type-reset-margin-scale-h2;
    border:        none;
    background:    $type-reset-color-lightest;
}
