@import "reset",
        "heading",
        "inline-element",
        "block-element";

body {
    background:  $tr-color-background;
    font-family: $tr-font-stack-serif;
    font-size:   $tr-font-size;
    line-height: $tr-line-height;
    color:       $tr-color-text;
}
