h1,
h2,
h3,
h4 {
    margin-bottom: $tr-vertical-rhythm;
    line-height: $tr-line-height-heading;
}

h1,
h2,
h4 {
    font-family: $tr-font-stack-sans-serif;
}

h1 {
    font-size: tr-scale-font(3);
}

h2 {
    margin-top: tr-scale-margin(2);
    font-size: tr-scale-font(2);
}

h3 {
    margin-top: tr-scale-margin(1);
    font-size: tr-scale-font(1);

    font-style: italic;
}

h4 {
    margin-top: tr-scale-margin(0);
    font-size: tr-scale-font(0);

    font-weight: bold;
    color: $tr-color-text-lighter;
}
